body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    max-width: none;
    width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, #496067 0%, #e2b7cd 100%);
}

a {
    text-decoration: none;
}

.main-page {
    overflow: auto;
    width: 100%;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background: #e2b7cd 60%;
}

.events-header {
    display: flex;
    padding: 10px;
    width: 30%;
    justify-content: center;  
}

.events-header .title {
    font-size: 25px;
    font-weight: 600; 
    font-family: Averta;
    color: rgb(94, 60, 100); 
}

.search-container {
    width: 40%;
}

.search-events {
    width: 60%;
    padding-left: 10px;
    margin-left: 10px;
}

.profile {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: inherit;
}

.profile-picture {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture img {
    width: 50px;
    height: 50px;
    border: 3px solid #4a2555;
    border-radius: 50%;
}

.profile-name {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.profile-name .name {
    font-family: Averta;
    color: rgb(94, 60, 100);
    font-weight: 400; 
}

.events-box {
    /* position: absolute;
    justify-content: center;
    align-items: center;
    border: solid orange;
    width: 80%; */
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 40px; 
    /* background: transparent;
    transform: translateX(100px); */
}

.events-list {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: #496067 solid;
    margin: 10px;
    padding: 10px;
    background: transparent; */
    position: relative;
    width: 1200px;
    border: 2px solid purple;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    margin: 20px; 

}

/* .events-list-item {
    display: flex;
    flex-direction: row;
    width: 98%;
    background: white;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
} */

/* .load-button {
    display: flex;
    background: rgb(94, 60, 100); 
    justify-content: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
} */

.event {
    position: relative;
    z-index: 10000;
    /* left: 170px;
    bottom: -20px; */
    /* transform: translate(-50%, -50%); */
    bottom: -25px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 100px;
    border: 2px solid lightgrey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px; 
    background-color: white;
    display:none;
} 
p {
display: inline-block;
}    
#date {
    position: absolute;
    bottom: 25px; 
    left: 170px;
    font-size: 25px;
    color: purple;
}

#day_time {
    position: absolute;
    bottom: 0px; 
    left: 170px;
    font-size: 20px;
    color: grey;
}
#event_name {
    position: absolute;
    bottom: 28px; 
    left: 325px;
    font-size: 19px;
}
#event_name span {
    display:block;
    width:600px;
    word-break:normal;
    padding-top: 2px;
}
#venue_name_city {
    position: absolute;
    bottom: 0px; 
    left: 325px;
    font-size: 20px;
    color: grey;
}

.event img {
    position: absolute;
    border: 5px solid lightgray;
    bottom: 10px;

}    
#interested {
    position: absolute;
    font-size: 14px;
    left: 950px;
    bottom: 50px;
    padding: 0 10px;
    width: 12%;
    height: 25%;
    border-radius: 25px;
    background-color: purple;
    color: white;
    border-color: purple;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    z-index: 2;
}

#going {
    position: absolute;
    font-size: 14px;
    left: 950px;
    bottom: 20px;
    padding: 0 10px;
    width: 12%;
    height: 25%;
    border-radius: 25px;
    background-color: purple;
    color: white;
    border-color: purple;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    z-index: 2;
}

#ainterested:hover {
    background-color: white;
    border-style: solid;
    color: purple;
}
#interested:hover {
        background-color: white;
        border-style: solid;
        color: purple;
    }
#going:hover {
        background-color: white;
        border-style: solid;
        color: purple;
}
        
#load {
    position: relative;
    width: 10%;
    height: 40px;
    left: 635px;
    bottom: -10px;
    padding: 0 20px;
    border-radius: 25px;
    background-color: purple;
    color: white;
    border-color: purple;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
#load:hover {
    background-color: white;
    border-style: solid;
    color: purple;
}
