<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'application/css/discover_events.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>  
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="events-header">
                <a href="{% url 'application:events' %}" class="title">Events in NYC</a>
            </div>
            <div class="search-container">
                <input class="search-events" placeholder="Find experiences in NYC" type="text">
            </div>
            <div class="profile">
                <div class="profile-picture">
                    <a href="{% url 'application:profile' %}">
                        <img src="{{ profile_picture.url }}" alt="Image" draggable="false"/>
                    </a>
                </div>
                <div class="profile-name">
                    <a href="{% url 'application:profile' %}" class="name">{{first_name}}</a>
                </div>
            </div>
        </div>
        <div class="main-page">
            <div class="events-box">
                <div class="events-list">
                    <!-- {% for item in event_list %}
                        {{ item.0 }}, {{ item.1}}, {{ item.2 }}, {{ item.3}}, {{ item.4 }}, {{ item.5}} <br>
                    {% endfor %} -->
                    <li class="events-list-item">
                        <p>Event title 1</p>
                        <p>Event venue 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <li class="events-list-item">
                        <p>Event title 1</p>
                    </li>
                    <button class="load-button" id="loadMoreBtn" onclick="loadMoreEvents()">Load More</button>
                </div>
                
                <script>
                    function loadMoreEvents() {
                    }
                </script>
            </div>
        </div>       
    </div>
 </body>
 </html>