<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Discover Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'application/css/profiles.css' %}" />
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            </script>
        <div class="container">
            <div class="left">
                <div class="sidebar-profile">
                    <a href="{% url 'application:profile' %}">
                        <img class="profile-picture" src="{{ profile_picture.url }}" alt="Vanessa"
                            draggable="false">
                    </a>
                    <div>
                        <p class="profile-name" id="user_first_name">{{user.first_name}}</p>
                        <p class="profile-name" id="user_last_name">{{user.last_name}},
                        <p id="user_age">{{user.age}}</p>
                        </p>
                        <p class="location" id="user_location">{{user.location}}</p>
                    </div>
                </div>
                <h2>Matches</h2>
                <div class="matches" id="matches">
                    {% for match in matches_data %}
                    <div class="match">
                        <img src="https://via.placeholder.com/130x130" alt="Match 1">
                        <p>{{match.first_name}}</p>
                    </div>
                    {% endfor %}
                </div>
                <h3>Search Matches</h3>
                <div class="search-container">
                    <input type="text" placeholder="Search for matches...">
                </div>
                <h3>Messages</h3>
                <div class="messages-section">
                    <div class="message-card">
                        <img src="https://via.placeholder.com/70x70" alt="Profile Picture" class="message-picture">
                        <div class="message-details">
                            <h3 class="message-sender">Jane Doe</h3>
                            <p class="message-preview">Hey there! How's it going?</p>
                        </div>
                        <div class="message-time">
                            <p>3 mins</p>
                            <div class="message-count">1</div>
                        </div>
                    </div>
                    <div class="message-card">
                        <img src="https://via.placeholder.com/70x70" alt="Profile Picture" class="message-picture">
                        <div class="message-details">
                            <h3 class="message-sender">Bob Smith</h3>
                            <p class="message-preview">What are you up to this weekend?</p>
                        </div>
                        <div class="message-time">
                            <p>10 mins</p>
                            <div class="message-count">3</div>
                        </div>
                    </div>
                    <div class="message-card">
                        <img src="https://via.placeholder.com/70x70" alt="Profile Picture" class="message-picture">
                        <div class="message-details">
                            <h3 class="message-sender">Bob Smith</h3>
                            <p class="message-preview">What are you up to this weekend?</p>
                        </div>
                        <div class="message-time">
                            <p>10 mins</p>
                            <div class="message-count">3</div>
                        </div>
                    </div>
                    <div class="message-card">
                        <img src="https://via.placeholder.com/70x70" alt="Profile Picture" class="message-picture">
                        <div class="message-details">
                            <h3 class="message-sender">Bob Smith</h3>
                            <p class="message-preview">What are you up to this weekend?</p>
                        </div>
                        <div class="message-time">
                            <p>10 mins</p>
                            <div class="message-count">3</div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="discover-events-wrapper">
                        <button class="discover-events-button">Discover Events</button>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="right-header">
                    <div class="logo">
                        <h3>NYUBeatBuddies</h3>
                    </div>
                    <div class="edit-profile">
                        <a href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="right-section-content">
                    <div class="right-section-top">
                        <div class="left-column">
                            <div class="account-details">
                                <div class="profile-picture">
                                    <img src="{{ discover_profile_picture.url }}" alt="Image" draggable="false">
                                </div>
                                <div class="profile">
                                    <span class="profile-name" id="discover_first_name">{{discover_user.first_name}}</span>
                                    <span class="profile-name" id="discover_last_name">{{discover_user.last_name}},</span>
                                    <span class="profile-name" id="discover_age">{{discover_user.age}}</span>
                                    <p class="location" id="discover_location">{{discover_user.location}}</p>
                                </div>                  
                            </div>
                            <div class="songs-column">
                                <h3>Top Songs</h3>
                                <ul>
                                    <li id="discover_song1" style="background-color:#cdb4db;">{{song1_name_artist}}</li>
                                    <li id="discover_song2" style="background-color:#ffc8dd;">{{song2_name_artist}}</li>
                                    <li id="discover_song3" style="background-color:#ffafcc;">{{song3_name_artist}}</li>
                                    <li id="discover_song4" style="background-color:#bde0fe;">{{song4_name_artist}}</li>
                                    <li id="discover_song5" style="background-color:#a2d2ff;">{{song5_name_artist}}</li>
                                </ul>
                            </div>
                            <ul>
                                <div>
                                    <h3>About me</h3>
                                </div>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt1">{{prompt1}}</h4>
                                        <div class="answer">
                                            <div id="discover_response1" class="box">{{response1}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt2">{{prompt2}}</h4>
                                        <div class="answer">
                                            <div id="discover_response2" class="box">{{response2}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt3">{{prompt3}}</h4>
                                        <div class="answer">
                                            <div id="discover_response3" class="box">{{response3}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt4">{{prompt4}}</h4>
                                        <div class="answer">
                                            <div id="discover_response4" class="box">{{response4}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt5">{{prompt5}}</h4>
                                        <div class="answer">
                                            <div id="discover_response5" class="box">{{response5}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div id="favorite-genres">
                                    <h3>Favorite Genres</h3>
                                    <div class="genre-buttons">
                                        <button id="discover_genre1" class="genre1">{{genre1}}</button>
                                        <button id="discover_genre2" class="genre2">{{genre2}}</button>
                                    </div>
                                    <div class="genre-buttons">
                                        <button id="discover_genre3" class="genre3">{{genre3}}</button>
                                        <button id="discover_genre4" class="genre4">{{genre4}}</button>
                                        <button id="discover_genre5" class="genre5">{{genre5}}</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="right-column">
                            <div class="image-frame">
                                <div>
                                    <h1>Top Artists</h1>
                                </div>
                                <div class="artist-frame1">
                                    <div class="img1">
                                        <img id="discover_artist_image_url1" src={{artist1_image_url}}
                                            style="width:250px;height:250px;">
                                    </div>
                                </div>
                                <div class="artist-frame2">
                                    <div class="img2">
                                        <img id="discover_artist_image_url2" src={{artist2_image_url}}
                                            style="width:190px;height:190px;">
                                    </div>
                                </div>
                                <ol class="list-group list-group-numbered">
                                    <li id="discover_artist1" style="background-color:#cdb4db" class="list-group-item">
                                        {{artist1_name}}</li>
                                    <li id="discover_artist2" style="background-color:#ffc8dd;" class="list-group-item">
                                        {{artist2_name}}</li>
                                    <li id="discover_artist3" style="background-color:#ffafcc;" class="list-group-item">
                                        {{artist3_name}}</li>
                                    <li id="discover_artist4" style="background-color:#bde0fe;" class="list-group-item">
                                        {{artist4_name}}</li>
                                    <li id="discover_artist5" style="background-color:#a2d2ff;" class="list-group-item">
                                        {{artist5_name}}</li>
                                </ol>
                                <div class="img3">
                                    <img id="discover_artist_image_url3" src={{artist3_image_url}}
                                        style="width:150px;height:150px;">
                                </div>
                                <div class="img4">
                                    <img id="discover_artist_image_url4" src={{artist4_image_url}}
                                        style="width:150px;height:150px;">
                                </div>
                                <div class="img5">
                                    <img id="discover_artist_image_url5" src={{artist5_image_url}}
                                        style="width:150px;height:150px;">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="album-section">
                        <div class="album-image">
                            <div>
                                <img id="discover_album_img1" src={{album1_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div>
                                <img id="discover_album_img2" src={{album2_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                        </div>
                        <div class="album-list album-list-numbered">
                            <h2>Top Albums</h2>
                            <ol>
                                <li id="discover_album1" style="background-color:#cdb4db;" class="album-list-item">
                                    {{album1_name_artist}}
                                </li>
                                <li id="discover_album2" style="background-color:#ffc8dd;" class="lalbum-list-item">
                                    {{album2_name_artist}}
                                </li>
                                <li id="discover_album3" style="background-color:#ffafcc;" class="album-list-item">
                                    {{album3_name_artist}}
                                </li>
                                <li id="discover_album4" style="background-color:#bde0fe;" class="album-list-item">
                                    {{album4_name_artist}}
                                </li>
                                <li id="discover_album5" style="background-color:#a2d2ff;" class="album-list-item">
                                    {{album5_name_artist}}
                                </li>
                            </ol>
                        </div>
                        <div class="album-image">
                            <div class="img3">
                                <img id="discover_album_img3" src={{album3_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div class="img4">
                                <img id="discover_album_img4" src={{album4_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div class="img5">
                                <img id="discover_album_img5" src={{album5_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                        </div>
                    </div>
                    <div class="footer footer-swipe">
                        <div class="swipe-button" role="button" id="dislike-button">
                            <img class="swipe-icon" src="https://www.iconsdb.com/icons/preview/purple/cancel-xxl.png" />
                        </div>
                        <div class="swipe-button" role="button" id="like-button">
                            <span class="swipe-icon">&#128156;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .ui-dialog {
            border: 2px solid #aaa;
            border-radius: 4px;
            box-shadow: 0 0 8px #999;
            background-color: #fff;
            color: #333;
            font-size: 16px;
        }

        .ui-dialog-titlebar {
            background-color: #f1f1f1;
            border-bottom: 1px solid #ccc;
            color: #333;
        }

        .ui-dialog-title {
            font-size: 20px;
            font-weight: bold;
        }

        .ui-dialog-content {
            padding: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#like-button').click(function () {
                $.ajax({
                    url: 'next',
                    data: {
                        'action': 'like'
                    },
                    success: function (response) {
                        let age = (2023 - Number(response.discover_user.birth_year)).toString()
                        $('#discover_first_name').html(response.discover_user.first_name);
                        $('#discover_last_name').html(response.discover_user.last_name + ',');
                        $('#discover_location').html(response.discover_user.location);
                        $('#discover_age').html(age);
                        $('#discover_song1').html(response.discover_favorite_songs.song1_name_artist);
                        $('#discover_song2').html(response.discover_favorite_songs.song2_name_artist);
                        $('#discover_song3').html(response.discover_favorite_songs.song3_name_artist);
                        $('#discover_song4').html(response.discover_favorite_songs.song4_name_artist);
                        $('#discover_song5').html(response.discover_favorite_songs.song5_name_artist);
                        $('#discover_prompt1').html(response.discover_prompts.prompt1);
                        $('#discover_prompt2').html(response.discover_prompts.prompt2);
                        $('#discover_prompt3').html(response.discover_prompts.prompt3);
                        $('#discover_prompt4').html(response.discover_prompts.prompt4);
                        $('#discover_prompt5').html(response.discover_prompts.prompt5);
                        $('#discover_response1').html(response.discover_prompts.response1);
                        $('#discover_response2').html(response.discover_prompts.response2);
                        $('#discover_response3').html(response.discover_prompts.response3);
                        $('#discover_response4').html(response.discover_prompts.response4);
                        $('#discover_response5').html(response.discover_prompts.response5);
                        $('#discover_genre1').html(response.discover_favorite_genres.genre1);
                        $('#discover_genre2').html(response.discover_favorite_genres.genre2);
                        $('#discover_genre3').html(response.discover_favorite_genres.genre3);
                        $('#discover_genre4').html(response.discover_favorite_genres.genre4);
                        $('#discover_genre5').html(response.discover_favorite_genres.genre5);
                        $('#discover_artist_image_url1').attr('src', response.discover_artist_imgs.artist1_image_url);
                        $('#discover_artist_image_url2').attr('src', response.discover_artist_imgs.artist2_image_url);
                        $('#discover_artist_image_url3').attr('src', response.discover_artist_imgs.artist3_image_url);
                        $('#discover_artist_image_url4').attr('src', response.discover_artist_imgs.artist4_image_url);
                        $('#discover_artist_image_url5').attr('src', response.discover_artist_imgs.artist5_image_url);
                        $('#discover_album_img1').attr('src', response.discover_albums_imgs.album1_image_url);
                        $('#discover_album_img2').attr('src', response.discover_albums_imgs.album2_image_url);
                        $('#discover_album_img3').attr('src', response.discover_albums_imgs.album3_image_url);
                        $('#discover_album_img4').attr('src', response.discover_albums_imgs.album4_image_url);
                        $('#discover_album_img5').attr('src', response.discover_albums_imgs.album5_image_url);
                        $('#discover_album1').html(response.discover_favorite_albums.album1_name_artist);
                        $('#discover_album2').html(response.discover_favorite_albums.album2_name_artist);
                        $('#discover_album3').html(response.discover_favorite_albums.album3_name_artist);
                        $('#discover_album4').html(response.discover_favorite_albums.album4_name_artist);
                        $('#discover_album5').html(response.discover_favorite_albums.album5_name_artist);
                        $('#discover_artist1').html(response.discover_favorite_artists.artist1_name);
                        $('#discover_artist2').html(response.discover_favorite_artists.artist2_name);
                        $('#discover_artist3').html(response.discover_favorite_artists.artist3_name);
                        $('#discover_artist4').html(response.discover_favorite_artists.artist4_name);
                        $('#discover_artist5').html(response.discover_favorite_artists.artist5_name);
                        $('.match').remove();
                        for (let match of response.updated_matches) {
                            $('.matches').append(
                                '<div class="match"><img src="https://via.placeholder.com/130x130" alt="Match 1"><p>' + match.first_name + '</p> </div>'
                            )
                        }
                        if (response.is_match) {
                            $('<div>').text('It\'s a Match!').dialog({
                                classes: {
                                    "ui-dialog": "my-custom-dialog",
                                    "ui-dialog-titlebar": "my-custom-titlebar",
                                    "ui-dialog-title": "my-custom-title",
                                    "ui-dialog-content": "my-custom-content"
                                },
                                modal: true,
                                buttons: {
                                    "Close": function () {
                                        $(this).dialog('close');
                                    }
                                }
                            });
                        }

                    }
                });
            });
        });
        $(document).ready(function () {
            $('#dislike-button').click(function () {
                $.ajax({
                    url: 'next',
                    data: {
                        'action': 'dislike'
                    },
                    success: function (response) {
                        let age = (2023 - Number(response.discover_user.birth_year)).toString()
                        $('#discover_first_name').html(response.discover_user.first_name);
                        $('#discover_last_name').html(response.discover_user.last_name + ',');
                        $('#discover_location').html(response.discover_user.location);
                        $('#discover_age').html(age);
                        $('#discover_song1').html(response.discover_favorite_songs.song1_name_artist);
                        $('#discover_song2').html(response.discover_favorite_songs.song2_name_artist);
                        $('#discover_song3').html(response.discover_favorite_songs.song3_name_artist);
                        $('#discover_song4').html(response.discover_favorite_songs.song4_name_artist);
                        $('#discover_song5').html(response.discover_favorite_songs.song5_name_artist);
                        $('#discover_prompt1').html(response.discover_prompts.prompt1);
                        $('#discover_prompt2').html(response.discover_prompts.prompt2);
                        $('#discover_prompt3').html(response.discover_prompts.prompt3);
                        $('#discover_prompt4').html(response.discover_prompts.prompt4);
                        $('#discover_prompt5').html(response.discover_prompts.prompt5);
                        $('#discover_response1').html(response.discover_prompts.response1);
                        $('#discover_response2').html(response.discover_prompts.response2);
                        $('#discover_response3').html(response.discover_prompts.response3);
                        $('#discover_response4').html(response.discover_prompts.response4);
                        $('#discover_response5').html(response.discover_prompts.response5);
                        $('#discover_genre1').html(response.discover_favorite_genres.genre1);
                        $('#discover_genre2').html(response.discover_favorite_genres.genre2);
                        $('#discover_genre3').html(response.discover_favorite_genres.genre3);
                        $('#discover_genre4').html(response.discover_favorite_genres.genre4);
                        $('#discover_genre5').html(response.discover_favorite_genres.genre5);
                        $('#discover_artist_image_url1').attr('src', response.discover_artist_imgs.artist1_image_url);
                        $('#discover_artist_image_url2').attr('src', response.discover_artist_imgs.artist2_image_url);
                        $('#discover_artist_image_url3').attr('src', response.discover_artist_imgs.artist3_image_url);
                        $('#discover_artist_image_url4').attr('src', response.discover_artist_imgs.artist4_image_url);
                        $('#discover_artist_image_url5').attr('src', response.discover_artist_imgs.artist5_image_url);
                        $('#discover_album_img1').attr('src', response.discover_albums_imgs.album1_image_url);
                        $('#discover_album_img2').attr('src', response.discover_albums_imgs.album2_image_url);
                        $('#discover_album_img3').attr('src', response.discover_albums_imgs.album3_image_url);
                        $('#discover_album_img4').attr('src', response.discover_albums_imgs.album4_image_url);
                        $('#discover_album_img5').attr('src', response.discover_albums_imgs.album5_image_url);
                        $('#discover_album1').html(response.discover_favorite_albums.album1_name_artist);
                        $('#discover_album2').html(response.discover_favorite_albums.album2_name_artist);
                        $('#discover_album3').html(response.discover_favorite_albums.album3_name_artist);
                        $('#discover_album4').html(response.discover_favorite_albums.album4_name_artist);
                        $('#discover_album5').html(response.discover_favorite_albums.album5_name_artist);
                        $('#discover_artist1').html(response.discover_favorite_artists.artist1_name);
                        $('#discover_artist2').html(response.discover_favorite_artists.artist2_name);
                        $('#discover_artist3').html(response.discover_favorite_artists.artist3_name);
                        $('#discover_artist4').html(response.discover_favorite_artists.artist4_name);
                        $('#discover_artist5').html(response.discover_favorite_artists.artist5_name);
                        $('.match').remove();
                        for (let match of response.updated_matches) {
                            $('.matches').append(
                                '<div class="match"><img src="https://via.placeholder.com/130x130" alt="Match 1"><p>' + match.first_name + '</p> </div>'
                            )
                        }
                    }
                });
            });
        });
    </script>

</html>