<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Discover Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <link rel="stylesheet" href="{% static 'application/profile_edit/jquery-ui-1.13.2.custom/jquery-ui.css' %}">
        <script src="{% static 'application/profile_edit/jquery-ui-1.13.2.custom/jquery-ui.min.js' %}"></script>

        <script>

          var out_of_users = "{{ out_of_users }}";

          $( function() {
            var raw_matches = [
            {% for match in matches_data %}
                "{{match.first_name}} {{match.last_name}}{{match.pk}}",
            {% endfor %}
            ];

            var matches = [];
            for (match in raw_matches) {
                matches.push({label:raw_matches[match].slice(0,-1), value: raw_matches[match].slice(-1)});
            };
            $( "#matchsearch" ).autocomplete({
                source: matches,
                select: function(event, ui) {
                    event.preventDefault()
                    $("#matchsearch").val(ui.item.label);
                    var pk = ui.item.value;
                    var url_mask = "{% url 'application:match_profile' 99 %}".replace(/99/, pk.toString())
                    location.href = url_mask
                }
            });
          });
        </script>

        <link rel="stylesheet" type="text/css" href="{% static 'application/css/profiles.css' %}" />
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            </script>
        <div class="container">
            <div class="left">
                <div class="sidebar-profile">
                    <div class="profile-picture">
                        <a href="{% url 'application:profile' %}">
                            <img src="{{ profile_picture.url }}" alt="Image" draggable="false" />
                        </a>
                    </div>
                    <div class="profile">
                        <span class="profile-name">
                            <a href="{% url 'application:profile' %}" class="name">{{user.first_name}} {{user.last_name}}</a>
                        </span>
                    </div>
                </div>
                <h2>Matches</h2>
                <div class="matches" id="matches">
                    {% for match in matches_data %}
                    <div class="match">
                        <a href="{% url 'application:match_profile' match_pk=match.pk %}">
                            <img src={{match.profile_picture}} alt="Match 1">
                        </a>
                        <span class="profile-name">
                            <a href="{% url 'application:match_profile' match_pk=match.pk %}">{{match.first_name}}</a>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <h3>Search Matches</h3>
                <div class="search-container">
                    <input type="text" placeholder="Search for matches..." id = "matchsearch">
                </div>
                <h3>Messages</h3>
                <div class="messages-section">
                    {% for message in chat_history %}
                    <a href="{% url 'chat:room' %}?friend_pk={{message.friend_pk}}" class="message-link">
                        <div class="message-card">
                            <img
                            src="{{message.friend_picture}}"
                            alt="Profile Picture"
                            class="message-picture"
                            />
                            <div class="message-details">
                                <h3 class="message-sender">{{message.friend_name}}</h3>
                                <p class="message-preview">{{message.latest_message}}</p>
                            </div>
                            <div class="message-time">
                                <p>{{message.timestamp}}</p>
                                {% if message.unread_messages > 0 %}
                                <div class="message-count">{{message.unread_messages}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

                <div class="footer">
                    <div class="discover-events-wrapper">
                        <a href="{% url 'application:events' %}">
                        <button class="discover-events-button">Discover Events</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="right-header">
                    <div class="logo">
                        <h3>NYUBeatBuddies</h3>
                    </div>
                    <div class="edit-profile">
                        <a href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="right-section-content">
                    <div class="right-section-top">
                        <div class="left-column">
                            <div class="account-details">
                                <div class="profile-picture">
                                    <img src="{{ discover_profile_picture.url }}" alt="Image" draggable="false"
                                        id="discover_profile_picture">
                                </div>
                                <div class="profile">
                                    <span class="profile-name"
                                        id="discover_first_name">{{discover_user.first_name}}</span>
                                    <span class="profile-name"
                                        id="discover_last_name">{{discover_user.last_name}},</span>
                                    <span class="profile-name" id="discover_age">{{discover_user.age}}</span>
                                    <p class="location" id="discover_location">{{discover_user.location}}</p>
                                </div>
                            </div>
                            <div class="songs-column">
                                <h3>Top Songs</h3>
                                <ul>
                                    <li id="discover_song1" style="background-color:#cdb4db;">{{song1_name_artist}}</li>
                                    <li id="discover_song2" style="background-color:#ffc8dd;">{{song2_name_artist}}</li>
                                    <li id="discover_song3" style="background-color:#ffafcc;">{{song3_name_artist}}</li>
                                    <li id="discover_song4" style="background-color:#bde0fe;">{{song4_name_artist}}</li>
                                    <li id="discover_song5" style="background-color:#a2d2ff;">{{song5_name_artist}}</li>
                                </ul>
                            </div>
                            <ul>
                                <div>
                                    <h3>About me</h3>
                                </div>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt1">{{prompt1}}</h4>
                                        <div class="answer">
                                            <div id="discover_response1" class="box">{{response1}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt2">{{prompt2}}</h4>
                                        <div class="answer">
                                            <div id="discover_response2" class="box">{{response2}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt3">{{prompt3}}</h4>
                                        <div class="answer">
                                            <div id="discover_response3" class="box">{{response3}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt4">{{prompt4}}</h4>
                                        <div class="answer">
                                            <div id="discover_response4" class="box">{{response4}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 id="discover_prompt5">{{prompt5}}</h4>
                                        <div class="answer">
                                            <div id="discover_response5" class="box">{{response5}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div id="favorite-genres">
                                    <h3>Favorite Genres</h3>
                                    <div class="genre-buttons">
                                        <button id="discover_genre1" class="genre1">{{genre1}}</button>
                                        <button id="discover_genre2" class="genre2">{{genre2}}</button>
                                    </div>
                                    <div class="genre-buttons">
                                        <button id="discover_genre3" class="genre3">{{genre3}}</button>
                                        <button id="discover_genre4" class="genre4">{{genre4}}</button>
                                        <button id="discover_genre5" class="genre5">{{genre5}}</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="right-column">
                            <div class="image-frame">
                                <div>
                                    <h1>Top Artists</h1>
                                </div>
                                <div class="artist-frame1">
                                    <div class="img1">
                                        <img id="discover_artist_image_url1" src={{artist1_image_url}}
                                            style="width:250px;height:250px;">
                                    </div>
                                </div>
                                <div class="artist-frame2">
                                    <div class="img2">
                                        <img id="discover_artist_image_url2" src={{artist2_image_url}}
                                            style="width:190px;height:190px;">
                                    </div>
                                </div>
                                <ol class="list-group list-group-numbered">
                                    <li id="discover_artist1" style="background-color:#cdb4db" class="list-group-item">
                                        {{artist1_name}}</li>
                                    <li id="discover_artist2" style="background-color:#ffc8dd;" class="list-group-item">
                                        {{artist2_name}}</li>
                                    <li id="discover_artist3" style="background-color:#ffafcc;" class="list-group-item">
                                        {{artist3_name}}</li>
                                    <li id="discover_artist4" style="background-color:#bde0fe;" class="list-group-item">
                                        {{artist4_name}}</li>
                                    <li id="discover_artist5" style="background-color:#a2d2ff;" class="list-group-item">
                                        {{artist5_name}}</li>
                                </ol>
                                <div class="img3">
                                    <img id="discover_artist_image_url3" src={{artist3_image_url}}
                                        style="width:150px;height:150px;">
                                </div>
                                <div class="img4">
                                    <img id="discover_artist_image_url4" src={{artist4_image_url}}
                                        style="width:150px;height:150px;">
                                </div>
                                <div class="img5">
                                    <img id="discover_artist_image_url5" src={{artist5_image_url}}
                                        style="width:150px;height:150px;">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="album-section">
                        <div class="album-image">
                            <div>
                                <img id="discover_album_img1" src={{album1_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div>
                                <img id="discover_album_img2" src={{album2_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                        </div>
                        <div class="album-list album-list-numbered">
                            <h2>Top Albums</h2>
                            <ol>
                                <li id="discover_album1" style="background-color:#cdb4db;" class="album-list-item">
                                    {{album1_name_artist}}
                                </li>
                                <li id="discover_album2" style="background-color:#ffc8dd;" class="lalbum-list-item">
                                    {{album2_name_artist}}
                                </li>
                                <li id="discover_album3" style="background-color:#ffafcc;" class="album-list-item">
                                    {{album3_name_artist}}
                                </li>
                                <li id="discover_album4" style="background-color:#bde0fe;" class="album-list-item">
                                    {{album4_name_artist}}
                                </li>
                                <li id="discover_album5" style="background-color:#a2d2ff;" class="album-list-item">
                                    {{album5_name_artist}}
                                </li>
                            </ol>
                        </div>
                        <div class="album-image">
                            <div class="img3">
                                <img id="discover_album_img3" src={{album3_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div class="img4">
                                <img id="discover_album_img4" src={{album4_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                            <div class="img5">
                                <img id="discover_album_img5" src={{album5_image_url}}
                                    style="width:150px;height:150px;">
                            </div>
                        </div>
                    </div>
                    <div class="savedEvents">
                        <div class="interested-events" id="interested-events">
                            <h3> Interested Events </h3>
                            {% for item in interested_events %}
                                <div class = "interested-event">
                                    <img src={{item.7}}>
                                    <div class="date-time">
                                        <span id = "date" >
                                            {{ item.1 }} {{ item.2 }}
                                        </span><br/>
                                        <span id = "day_time" >
                                            {{ item.3 }} &#x2022; {{ item.4 }}
                                        </span>
                                    </div>
                                    <div>
                                        <span id = "event_name" >
                                            {{ item.0 }}
                                        </span><br/>
                                        <span id = "venue_name_city" >
                                            {{ item.5 }} 
                                        </span>
                                    </div>
                                </div> 
                            {% endfor %}
                        </div>
                        <div class="going-to-events" id="going-to-events">
                            <h3> Going to Events </h3>
                            {% for item in going_to_events %}
                                <div class = "going-to-event">
                                    <img src={{item.7}}>
                                    <div class="date-time">
                                        <span id = "date" >
                                            {{ item.1 }} {{ item.2 }}
                                        </span><br/> 
                                        <span id = "day_time" >
                                            {{ item.3 }} &#x2022; {{ item.4 }}
                                        </span>
                                    </div>
                                    <div>
                                        <span id = "event_name" >
                                            {{ item.0 }}
                                        </span><br/>
                                        <span id = "venue_name_city" >
                                            {{ item.5 }} 
                                        </span> 
                                    </div> 
                                </div> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="footer footer-swipe">
                        <div class="swipe-button" role="button" id="dislike-button">
                            <img class="swipe-icon" src="https://www.iconsdb.com/icons/preview/purple/cancel-xxl.png" />
                        </div>
                        <div class="swipe-button" role="button" id="like-button">
                            <span class="swipe-icon">&#128156;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="my-dialog-content" style="display:none;">
                <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                    <p style="font-family:  'Franklin Gothic Medium', sans-serif; font-size: 30px; margin: 0;">IT'S A
                        MATCH!</p>
                    <div class="profile-picture">
                        <img id="matched-person-picture"
                            src="https://nyu-beat-buddies-develop.s3.amazonaws.com/images/placeholder.png"
                            alt="Match 1">
                    </div>
                    <p style="font-family: Arial; font-size: 30px; margin: 0;"><span
                            id="matched-person-first">First</span><span> </span><span
                            id="matched-person-last">Last</span></p>
                    <div style="display: flex;justify-content: center;flex-direction: row">
                        <button class="chat-match-button"
                            onclick="$('#my-dialog-content').dialog('close')">Chat</button>
                        <button class="close-match-button"
                            onclick="$('#my-dialog-content').dialog('close')">Close</button>

                    </div>
                </div>
            </div>
            <div id="no-more-users" style="display:none;">
                <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                    <p class="no_users_title" style="font-family:  'Franklin Gothic Medium', sans-serif; font-size: 30px; margin: 0;">No more potential matches</p>
                    <p class="no_users_sub" style="font-family:  'Franklin Gothic Medium', sans-serif; font-size: 17px; margin: 0;">
                    You've seen all potential matches in your area. <br> Please check back later to find more people to connect with!</p>
                    <div style="display: flex;justify-content: center;flex-direction: row">
                        <button class="close-discover-button"
                            onClick="javascript:clickinner(this);">Back To Profile</button>
                    </div>
                </div>
                <script>
                    // redirect back to profile
                    function clickinner(mybtn){
                       location.href="{% url 'application:profile' %}";
                    };
                </script>
            </div>
        
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <style type="text/css">
        .ui-dialog .ui-dialog-content {
            position: relative;
            border: 0;
            background: none;
            overflow: auto;
            zoom: 1;
            border: solid 5px rgb(91, 10, 60);
        }



        .ui-widget-content {
            border: none;
        }

        .ui-dialog-buttonpane {
            text-align: center;
        }

        .ui-dialog-titlebar {
            display: none;
        }

        .ui-dialog-buttonset {
            display: inline-block;
            margin: 0 auto;
        }

        .close-match-button {
            display: block;
            padding: 10px 20px;
            font-size: 24px;
            color: #fff;
            background-color: purple;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            margin: 10px;
            width: 100px;
            text-align: center;
        }

        .close-discover-button {
            display: block;
            position: relative;
            top: 50px;
            padding: 15px 20px;
            font-size: 20px;
            color: #fff;
            background-color: purple;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            margin: 10px;
            width: 180px;
            text-align: center;
        }

        /* .close-discover-button:hover {
            background-color: white;
            color: purple;
            border:4px solid purple;
        } */

        .chat-match-button {
            display: block;
            padding: 10px 20px;
            font-size: 24px;
            color: #fff;
            background-color: purple;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            margin: 10px;
            width: 100px;
            text-align: center;
        }

        .no_users_title {
            text-align: center;
        }

        .no_users_sub {
            text-align: center;
            position: relative;
            top: 20px;
        }

    </style>
    <script>
        $(document).ready(function () {
            if (out_of_users) {
                $('#no-more-users').dialog({
                    width: 300,
                    height: 365,
                    modal: true,
                    resizable: false,
                    draggable: true,
                })
            }
        });
        $(document).ready(function () {
            $('#like-button').click(function () {
                $.ajax({
                    url: 'next',
                    data: {
                        'action': 'like'
                    },
                    success: function (response) {
                        let age = (2023 - Number(response.discover_user.birth_year)).toString()
                        $('#discover_first_name').html(response.discover_user.first_name);
                        $('#discover_last_name').html(response.discover_user.last_name + ',');
                        $('#discover_location').html(response.discover_user.location);
                        $('#discover_age').html(age);
                        $('#discover_profile_picture').attr('src', response.discover_user.profile_picture);
                        $('#discover_song1').html(response.discover_favorite_songs.song1_name_artist);
                        $('#discover_song2').html(response.discover_favorite_songs.song2_name_artist);
                        $('#discover_song3').html(response.discover_favorite_songs.song3_name_artist);
                        $('#discover_song4').html(response.discover_favorite_songs.song4_name_artist);
                        $('#discover_song5').html(response.discover_favorite_songs.song5_name_artist);
                        $('#discover_prompt1').html(response.discover_prompts.prompt1);
                        $('#discover_prompt2').html(response.discover_prompts.prompt2);
                        $('#discover_prompt3').html(response.discover_prompts.prompt3);
                        $('#discover_prompt4').html(response.discover_prompts.prompt4);
                        $('#discover_prompt5').html(response.discover_prompts.prompt5);
                        $('#discover_response1').html(response.discover_prompts.response1);
                        $('#discover_response2').html(response.discover_prompts.response2);
                        $('#discover_response3').html(response.discover_prompts.response3);
                        $('#discover_response4').html(response.discover_prompts.response4);
                        $('#discover_response5').html(response.discover_prompts.response5);
                        $('#discover_genre1').html(response.discover_favorite_genres.genre1);
                        $('#discover_genre2').html(response.discover_favorite_genres.genre2);
                        $('#discover_genre3').html(response.discover_favorite_genres.genre3);
                        $('#discover_genre4').html(response.discover_favorite_genres.genre4);
                        $('#discover_genre5').html(response.discover_favorite_genres.genre5);
                        $('#discover_artist_image_url1').attr('src', response.discover_artist_imgs.artist1_image_url);
                        $('#discover_artist_image_url2').attr('src', response.discover_artist_imgs.artist2_image_url);
                        $('#discover_artist_image_url3').attr('src', response.discover_artist_imgs.artist3_image_url);
                        $('#discover_artist_image_url4').attr('src', response.discover_artist_imgs.artist4_image_url);
                        $('#discover_artist_image_url5').attr('src', response.discover_artist_imgs.artist5_image_url);
                        $('#discover_album_img1').attr('src', response.discover_albums_imgs.album1_image_url);
                        $('#discover_album_img2').attr('src', response.discover_albums_imgs.album2_image_url);
                        $('#discover_album_img3').attr('src', response.discover_albums_imgs.album3_image_url);
                        $('#discover_album_img4').attr('src', response.discover_albums_imgs.album4_image_url);
                        $('#discover_album_img5').attr('src', response.discover_albums_imgs.album5_image_url);
                        $('#discover_album1').html(response.discover_favorite_albums.album1_name_artist);
                        $('#discover_album2').html(response.discover_favorite_albums.album2_name_artist);
                        $('#discover_album3').html(response.discover_favorite_albums.album3_name_artist);
                        $('#discover_album4').html(response.discover_favorite_albums.album4_name_artist);
                        $('#discover_album5').html(response.discover_favorite_albums.album5_name_artist);
                        $('#discover_artist1').html(response.discover_favorite_artists.artist1_name);
                        $('#discover_artist2').html(response.discover_favorite_artists.artist2_name);
                        $('#discover_artist3').html(response.discover_favorite_artists.artist3_name);
                        $('#discover_artist4').html(response.discover_favorite_artists.artist4_name);
                        $('#discover_artist5').html(response.discover_favorite_artists.artist5_name); 
                        $('.interested-events').empty();
                        $('.interested-events').html('<h3> Interested Events </h3>')
                        for (let item of response.interested_events) {
                            $('.interested-events').append(
                                '<div class="interested-event"><img src=' + item[7] + '><div class="date-time"><span id = "date" >' + item[1] + '&nbsp;' + item[2] + 
                                '</span><br/><span id = "day_time" >' + item[3] + '&#x2022;' + item[4] + '</span></div><div><span id = "event_name" >' + item[0] + 
                                '</span><br/><span id = "venue_name_city" >' + item[5] + '</span></div></div>'
                            )
                        }
                        $('.going-to-events').empty();
                        $('.going-to-events').html('<h3> Going to Events </h3>')
                        for (let item of response.going_to_events) {
                            $('.going-to-events').append(
                                '<div class="going-to-event"><img src=' + item[7] + '><div class="date-time"><span id = "date" >' + item[1] + '&nbsp;' + item[2] + 
                                '</span><br/><span id = "day_time" >' + item[3] + '&#x2022;' + item[4] + '</span></div><div><span id = "event_name" >' + item[0] + 
                                '</span><br/><span id = "venue_name_city" >' + item[5] + '</span></div></div>'
                            )
                        }   
                        $('.match').remove();
                        $('#matched-person-picture').attr('src', response.previous_user.profile_picture);
                        $('#matched-person-first').html(response.previous_user.first_name);
                        $('#matched-person-last').html(response.previous_user.last_name);
                        for (let match of response.updated_matches) {
                            $('.matches').append(
                                '<div class="match"><a href="profile/match/'+match.pk+'/"><img src=' + match.profile_picture + ' alt="Match 1"></a>' +
                                '<span class="profile-name"><a href="profile/match/'+match.pk+'/">' + match.first_name + '</a></span></div>'
                            )
                        }
                        if (response.is_match) {
                            $('#my-dialog-content').dialog({
                                width: 300,
                                height: 365,
                                modal: true,
                                resizable: false,
                                draggable: true,

                            })
                        }
                        if (response.out_of_users) {
                            $('#no-more-users').dialog({
                                width: 300,
                                height: 365,
                                modal: true,
                                resizable: false,
                                draggable: true,

                            })
                        }


                    }
                });
            });
        });
        $(document).ready(function () {
            $('#dislike-button').click(function () {
                $.ajax({
                    url: 'next',
                    data: {
                        'action': 'dislike'
                    },
                    success: function (response) {
                        let age = (2023 - Number(response.discover_user.birth_year)).toString()
                        $('#discover_first_name').html(response.discover_user.first_name);
                        $('#discover_last_name').html(response.discover_user.last_name + ',');
                        $('#discover_location').html(response.discover_user.location);
                        $('#discover_age').html(age);
                        $('#discover_profile_picture').attr('src', response.discover_user.profile_picture);
                        $('#discover_song1').html(response.discover_favorite_songs.song1_name_artist);
                        $('#discover_song2').html(response.discover_favorite_songs.song2_name_artist);
                        $('#discover_song3').html(response.discover_favorite_songs.song3_name_artist);
                        $('#discover_song4').html(response.discover_favorite_songs.song4_name_artist);
                        $('#discover_song5').html(response.discover_favorite_songs.song5_name_artist);
                        $('#discover_prompt1').html(response.discover_prompts.prompt1);
                        $('#discover_prompt2').html(response.discover_prompts.prompt2);
                        $('#discover_prompt3').html(response.discover_prompts.prompt3);
                        $('#discover_prompt4').html(response.discover_prompts.prompt4);
                        $('#discover_prompt5').html(response.discover_prompts.prompt5);
                        $('#discover_response1').html(response.discover_prompts.response1);
                        $('#discover_response2').html(response.discover_prompts.response2);
                        $('#discover_response3').html(response.discover_prompts.response3);
                        $('#discover_response4').html(response.discover_prompts.response4);
                        $('#discover_response5').html(response.discover_prompts.response5);
                        $('#discover_genre1').html(response.discover_favorite_genres.genre1);
                        $('#discover_genre2').html(response.discover_favorite_genres.genre2);
                        $('#discover_genre3').html(response.discover_favorite_genres.genre3);
                        $('#discover_genre4').html(response.discover_favorite_genres.genre4);
                        $('#discover_genre5').html(response.discover_favorite_genres.genre5);
                        $('#discover_artist_image_url1').attr('src', response.discover_artist_imgs.artist1_image_url);
                        $('#discover_artist_image_url2').attr('src', response.discover_artist_imgs.artist2_image_url);
                        $('#discover_artist_image_url3').attr('src', response.discover_artist_imgs.artist3_image_url);
                        $('#discover_artist_image_url4').attr('src', response.discover_artist_imgs.artist4_image_url);
                        $('#discover_artist_image_url5').attr('src', response.discover_artist_imgs.artist5_image_url);
                        $('#discover_album_img1').attr('src', response.discover_albums_imgs.album1_image_url);
                        $('#discover_album_img2').attr('src', response.discover_albums_imgs.album2_image_url);
                        $('#discover_album_img3').attr('src', response.discover_albums_imgs.album3_image_url);
                        $('#discover_album_img4').attr('src', response.discover_albums_imgs.album4_image_url);
                        $('#discover_album_img5').attr('src', response.discover_albums_imgs.album5_image_url);
                        $('#discover_album1').html(response.discover_favorite_albums.album1_name_artist);
                        $('#discover_album2').html(response.discover_favorite_albums.album2_name_artist);
                        $('#discover_album3').html(response.discover_favorite_albums.album3_name_artist);
                        $('#discover_album4').html(response.discover_favorite_albums.album4_name_artist);
                        $('#discover_album5').html(response.discover_favorite_albums.album5_name_artist);
                        $('#discover_artist1').html(response.discover_favorite_artists.artist1_name);
                        $('#discover_artist2').html(response.discover_favorite_artists.artist2_name);
                        $('#discover_artist3').html(response.discover_favorite_artists.artist3_name);
                        $('#discover_artist4').html(response.discover_favorite_artists.artist4_name);
                        $('#discover_artist5').html(response.discover_favorite_artists.artist5_name);
                        $('.interested-events').empty();
                        $('.interested-events').html('<h3> Interested Events </h3>')
                        for (let item of response.interested_events) {
                            $('.interested-events').append(
                                '<div class="interested-event"><img src=' + item[7] + '><div class="date-time"><span id = "date" >' + item[1] + '&nbsp;' + item[2] + 
                                '</span><br/><span id = "day_time" >' + item[3] + '&#x2022;' + item[4] + '</span></div><div><span id = "event_name" >' + item[0] + 
                                '</span><br/><span id = "venue_name_city" >' + item[5] + '</span></div></div>'
                            )
                        }
                        $('.going-to-events').empty();
                        $('.going-to-events').html('<h3> Going to Events </h3>')
                        for (let item of response.going_to_events) {
                            $('.going-to-events').append(
                                '<div class="going-to-event"><img src=' + item[7] + '><div class="date-time"><span id = "date" >' + item[1] + '&nbsp;' + item[2] + 
                                '</span><br/><span id = "day_time" >' + item[3] + '&#x2022;' + item[4] + '</span></div><div><span id = "event_name" >' + item[0] + 
                                '</span><br/><span id = "venue_name_city" >' + item[5] + '</span></div></div>'
                            )
                        }             
                        $('.match').remove();
                        $('#matched-person-picture').attr('src', response.previous_user.profile_picture);
                        $('#matched-person-first').html(response.previous_user.first_name);
                        $('#matched-person-last').html(response.previous_user.last_name);
                        for (let match of response.updated_matches) {
                            $('.matches').append(
                                '<div class="match"><a href="profile/match/'+match.pk+'/"><img src=' + match.profile_picture + ' alt="Match 1"></a>' +
                                '<span class="profile-name"><a href="profile/match/'+match.pk+'/">' + match.first_name + '</a></span></div>'
                            )
                        }
                        if (response.out_of_users) {
                            $('#no-more-users').dialog({
                                width: 300,
                                height: 365,
                                modal: true,
                                resizable: false,
                                draggable: true,

                            })
                        }
                    }
                });
            });
        });
    </script>

</html>